.gallery{
  margin: 15px 0;
  @include clearfix;
  dl{
    margin: 0;
    padding: 0;
    float: left;
  }
  img{
    width: 100%;
  }
}
.gallery-columns-5 dl{ width: 20%; }
.gallery-columns-4 dl{ width: 25%; }
.gallery-columns-3 dl{ width: 33.33%; }
.gallery-columns-2 dl{ width: 50%; }
.alignleft{
  float:left;
  margin-right: 10px;
}
.alignright{
  float: right;
  margin-left: 10px;
}